.template{
	display:none;
}
section.ERS {
    display: grid;
    justify-content: unset;
    align-content: start;
}
section.ERS > div {
    height: 4rem;
    display: flex;
    align-items: center;
}
section.ERS > div > table {
    width: 70%;
}
section.ERS th {
    background-color: green;
    color: white;
}
section.ERS td {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
}
section.ERS input {
    width: 7rem;
    height:100%;
}
section.ERS td > div {
    font-size: 0.8rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px double black;
    background-color: green;
    color: white;
    margin-left: 1rem;
}
section.ERS > div > a {
    width: 30%;
    height: 3rem;
    border: 3px double black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    text-decoration: none;
}


section.ERS > textarea {
    height: 6rem;
	margin-bottom: 1rem;
}
section.ERS > ul {
    overflow-y: scroll;
    border: 3px double black;
    margin: 0;
	padding-left: 1rem;
    background-color: yellow;
}
section.ERS > ul > li {
    display: flex;
    margin: 0.5rem 0;
    border: 1px solid black;
    font-size: 1.3rem;
}
section.ERS > ul > li > a {
	width: calc(100% - 4rem);
    background-color: #00ff2e;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;	
}
section.ERS > ul > li > div {
	width: 4rem;
    display: flex;
    background-color: blue;
    color: white;
    align-items: center;
    justify-content: center;
}


section.sch{
	display: grid;
    align-content: start;
    justify-items: center;
    justify-content: unset;
}

section.sch > div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
section.sch > div > div{
    border: 1px solid black;
    background-color: red;
    width: 4rem;
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: center;
}
section.sch > div > textarea{
    width: 100%;
    margin-top: 0.5rem;
	height: 4rem;
}
section.sch > ul{
    width: 90%;
    border: 1px solid black;
    height: auto;
	overflow-y: scroll;
}
section.sch li {
    display: flex;
    height: 3rem;
}
section.sch li > span{
    width: calc(100% - 10rem);
    align-items: center;
    border: 1px solid black;
    height: 100%;
    background-color: #cbd5ce;
    overflow: hidden;
}
section.sch li > a,
section.sch li > div{
	width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 100%;
    background-color: #00ff4e;
	text-decoration:none;
}

