a{
    height: 3rem;
    width: 80%;
    border: 3px double black;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: green;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}
p {
    margin: 0;
    padding-top: 1rem;
}

section.ERS {
    display: grid;
    justify-content: unset;
    align-content: start;
}
section.ERS > div {
    height: 4rem;
    display: flex;
}
section.ERS > div > table {
    width: 60%;
}
section.ERS > div > div {
    width: 40%;
    border: 3px double black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    margin: 0.25rem;
}


section.ERS > textarea {
    height: 6rem;
}
section.ERS > ul {
	overflow-y: scroll;
}





