@charset "UTF-8";

html,
body{
	overscroll-behavior-y: none;
}

*::-webkit-scrollbar {
	display: none;
}

body{
	margin: 0;
	background-color: #bfc676;
	height: 99dvh;
	width: 100vw;
	overflow: hidden;
	font-size: 0.6rem;
}

body > div{
	transform: rotate(90deg);
	transform-origin: top left;
}

section{
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	padding: 1rem;
	transform: rotate(180deg);
	transform-origin: top;
	display: flex;
	overflow: hidden;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-end;
}
input{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: black;
}
.vt{
	font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
	border: 3px double black;
}
th, td{
	border: 1px solid black;
}
ul{
	width: 100%;
    padding: 0;
	margin: 0;
	overflow-y: scroll;
	border: 3px double black;
}
li{
	border: 1px solid black;
    display: flex;
}

.template {
	display:none!important;
}

body.test > div {
	width: 100% !important;
	height: 100% !important;
	transform: unset;
	transform-origin: unset;
}

body.test > div > section {
	transform: unset;
	transform-origin: unset;
}

section.ERS,
section.sch{
	display: grid;
    align-content: start;
    justify-content: unset;
}

/* トップですね。これ */
section.ERS > div {
	height: 4rem;
	display: flex;
	align-items: center;
}
section.ERS > div > table {
	width: 70%;
}
section.ERS th {
	background-color: #88dd88;
	font-size: 0.9rem;
}
section.ERS td {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1.5rem;
	background-color: #e3dada;
}
section.ERS td span{
	font-size: 1rem;
}
section.ERS input {
	width: 7rem;
	height:100%;
}
section.ERS td > div {
    width: 3rem;
    background-color: #cfd92e;
    margin-left: 1rem;
}
section.ERS > div > a {
	width: 30%;
    height: 3rem;
    background-color: #c07643;
    color: white;
}
section.ERS textarea {
	height: 3rem;
	width: 100%;
    margin: 1rem 0;
}
section.ERS > ul > li > a{
	width: calc(100% - 4rem);
	background-color: #00ff2e;
}
section.ERS > ul > li > div {
    width: 4rem;
    background-color: blue;
    color: white;
}

/* 検索だっつんてんだろー */
section.ERS.RS > div{
	height:unset;
	align-items:unset;
    justify-content: space-around;
}
section.ERS.RS > div > div{
    background-color: red;
    width: 4rem;
    height: 2rem;
}
section.ERS.RS li > span{
    width: calc(100% - 10rem);
    align-items: center;
    background-color: #cbd5ce;
    overflow: hidden;
    display: block;
}
section.ERS.RS li > a{
	width: 5rem;
    background-color: #00ff4e;
}
section.ERS.RS li > div{
    width: 5rem;
    background-color: #fffb89;
	color: black;
}

/* 真理の御魂 */
section.Image {
	width: 100%;
	height: 99dvh;
	padding: 0;
	position: relative;
	align-items: center;
	align-content: center;
}
section.Image div {
	z-index: 108;
	position: absolute;
	background-color: #a6cfea;
	top: 10px;
	left: 10px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0.25rem;
	transform: unset;
    font-size: 1rem;
}
section.Image input {
	position: absolute;
	background-color: transparent;
	border: 2px dashed black;
	height: 60%;
	width: 4rem;
	font-size: 2rem;
}
section.Image input.bbs {
	width: 3rem;
	height: 3rem;
	bottom: 10px;
}
section.Image input#b1 {
	left: 10px;
	z-index: 101;
}
section.Image input#b2 {
	right: 10px;
	z-index: 102;
}
section.Image input#b3 {
	right: 10px;
	z-index: 103;
}
section.Image input#b4 {
	left: 10px;
	z-index: 104;
}
section.Image.IsL div {
	top: 25px;
	left: unset;
	right: 0;
	transform: rotate(90deg);
}
section.Image.IsL canvas {
	transform: rotate(90deg);
}
section.Image.IsB input {
	border: none;
}